# DataLoader Configuration

train:
  batch_size: 16
  shuffle: true
  num_workers: 4
  pin_memory: true
  drop_last: true

val:
  batch_size: 8
  shuffle: false
  num_workers: 4
  pin_memory: true
  drop_last: false
